
<div class="row">
      <div class="col-md-3"> <!-- sol tarafta 3 lük kısmı kullandım, burada kategoriler olacak-->
        <app-category></app-category>
      </div>
      <div class="col-md-9"> <!-- sağ tarafta 9 luk kısmı kullandım, burada filmler listelenecek-->
        <div *ngIf="loading" class="spinner-border text-success" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <!-- <app-movies></app-movies>  -->
        <div class="alert alert-danger" *ngIf="errorMessage"> <!-- errorMessage setlenmişse -->
            Bilinmeyen bir hata oluştu.
        </div>

        <div *ngIf="!loading">
            <div *ngIf="movies.length>0; else no_movies">
                <h1>{{ title }}</h1>
        
                <div class="alert alert-success">{{filteredMovies.length}} adet film bulundu.</div>
        
                <div class="mb-3">
                    <input type="text" class="form-control" [(ngModel)]="filterText" (ngModelChange)="onInputChange()" placeholder="Search...">
                    <small class="text-muted" *ngIf="filterText > ''">Aradığınız kelime : {{filterText}}</small>
                </div>
        
                <ng-template [ngTemplateOutlet]="movieList1"></ng-template> <!-- template yapısı cağırma yöntemidir. -->
            </div>
        </div>
        
      </div>
</div>





<ng-template #no_movies> 
    <div class="alert alert-warning">
        Film Bulunamadı
    </div>
</ng-template>
<!-- <app-movie *ngFor="let item of movies"></app-movie> -->

<ng-template #movieList1>
    <div class="card mb-3" *ngFor="let item of filteredMovies">
        <div class="row">
            <div class="col-md-3">
                <img src="/assets/img/{{item.imageUrl}}" class="img-fluid rounded-started" alt=""> <!-- img-fluid : resim kendini 3 lü kolona sığdırsın -->
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <h2 class="card-title">{{item.title | titlecase}}</h2> <!-- titlecase ile title 'lar büyük harfle başlar -->
                    <p class="card-text">{{item.description |summary: 10}}</p>
                    <!-- <p class="card-text">{{item.datePublished | date: 'dd/MM/y'}}</p> --> <!-- tarih formatını yıl/ay/gün şeklinde düzenler -->
                    <div>
                        <a routerLink="/movies/{{item.id}}" class="btn btn-sm btn-outline-primary">Details</a>
                        <button (click)="addToList($event, item)" class="btn btn-sm btn-primary ms-1">Listeye Ekle</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

